# --- OpenFOAM Case Files ---
# Ignore time directories (numbers), but keep 0 and 0.org
[1-9]*
0.*
!0/
!0.org/

# --- MESH FILES ---
**/polyMesh/
**/extendedFeatureEdgeMesh/
**/cellZones
**/faceZones
**/pointZones

# --- Processor directories (parallel runs) ---
processor*

# --- Visualization & Logs ---
postProcessing/
VTK/
logs/
*.log
*.vtk
*.vtu
*.foam
*.OpenFOAM

# --- System/Editor Garbage ---
dynamicCode/
.DS_Store
*.swp
*.bak
